<ion-header>
  <ion-navbar hideBackButton="true" text-center>
    <!-- <ion-title>{{firstName}}</ion-title> -->
    <div class="user-info">
      <h1>{{firstName}}</h1>
      <h6>{{username}}</h6>
    </div>
    <ion-buttons end>
      <button ion-button icon-only (click)="notifications()">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge id="cart-badge">{{badgeCount}}</ion-badge>
      </button>
      <button ion-button icon-only (click)="personalInfo()">
        <ion-icon name="person"></ion-icon>
      </button>

    </ion-buttons>
  </ion-navbar>
  <div class="user-icon">
    <img alt="Rogers" src="assets/imgs/person-icon.png" width="60">
  </div>
</ion-header>


<ion-content padding class="hide-btn">
  <ion-row>
    <ion-col width-33>
      <ion-card (click)="getAedList()" style="height: 130px;">
        <ion-card-header>
          <!-- <ion-icon name="contacts" color="orangeColor"></ion-icon> -->
          <ion-img width="50" height="50" src="assets/imgs/aed-list.png"></ion-img>
        </ion-card-header>

        <ion-card-content>
          AED's List
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col width-33>
      <ion-card style="height: 130px;">
        <ion-card-header>
          <!-- <ion-icon name="filing" color="greenColor"></ion-icon> -->
          <ion-img width="50" height="50" src="assets/imgs/life-saved.png"></ion-img>
        </ion-card-header>

        <ion-card-content text-center>
          No. of life saved
          <h4 style="font-weight:bold; color: green;">{{noOfLifeSaved}}</h4>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col width-33>
      <ion-card style="height: 130px;">
        <ion-card-header>
          <!-- <ion-icon name="medkit" color="orangeColor"></ion-icon> -->
          <ion-img width="50" height="50" src="assets/imgs/cases.png"></ion-img>
        </ion-card-header>

        <ion-card-content text-center>
          No. of cases
          <h4 style="font-weight:bold; color: orange;">{{noOfCases}}</h4>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col width-33 *ngIf = "isEmergencyAccepted">
      <ion-card style="height: 130px;" (click)="lifeSaved()">
        <ion-card-header>
          <!-- <ion-icon name="medkit" color="orangeColor"></ion-icon> -->
          <ion-img width="50" height="50" src="assets/imgs/help.png"></ion-img>
        </ion-card-header>

        <ion-card-content text-center>
          Help Done
        </ion-card-content>
      </ion-card>
    </ion-col>
    
  </ion-row>

  <!-- <ion-row>
    <button ion-button icon-only *ngIf="isMap" (click)="showMap()">
      <ion-icon name="navigate" color="buttonColor"></ion-icon>
    </button>
  </ion-row> -->
  <page-report-emergency></page-report-emergency>
</ion-content>